---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
---

<Layout>
    <main>
        <section>
            <div>
                <h1>{post.data.title}</h1>
                <h2>By {post.data.author}</h2>
            </div>
            <article>{post.body}</article>
        </section>
    </main>
</Layout>
