---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">

			<h1>twincitiesos.dev</h1>
			<h4>Twin Cities MN open source community</h4>
			<p>An open group supporting open source projects and community engagement.</p>

			<nav id="links">
				<a href="https://www.meetup.com/twin-cities-open-source-developers/">Attend in person</a>
			</nav>
		</section>
	</main>
</div>

