button, a {
  &:focus{
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, system-ui, sans-serif;
}

a {
  &:hover{
    text-decoration: underline;
  }
}

strong{
  font-weight: bold;
}
